html {
    background-color: black;
}
body {
    font-size: 18px;
    color: silver;
}

input {
    color: silver;
}

.container {
    background-color: #444e58;
    width: 70%;
    margin: 0 auto;
    padding: 20px 100px;
}

h1,
h1 + p {
    color: white;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #00aff9;
    color: white;
    padding: 20px 0;
    margin-bottom: 15px;
}

/*** INPUT STYLE ***/
input {
    background-color: #444e58;
    border: none;
    border-bottom: 1px solid silver;
    font-size: 0.8em;
    padding-top: 20px;
}

.info input {
    width: 100%;
}

/*****  PERSONAL DATA *****/
.first-container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.col-8 {
    width: 65%; 
    margin-right: 15px;
}

.col-4 {
    width: 35%;
}

.city-data {
    display: inline-flex;
    width: 100%;
}

.city-data input {
    margin-right: 15px;
}

.city-data input:last-of-type {
    margin-right: 0;
}

/****** SKILLS AND LOCATION *****/
.radio-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.radio-buttons ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.radio-buttons ul li {
    border: 1px solid silver;
    width: 23%;
    list-style: none;
    padding: 10x;
}

.radio-buttons ul li input {
    display: none;
}

label {
    padding: 15px;
    width: 100%;
    text-align: center;
}

input[type="radio"]:checked + label {
    background-color: #00aff9;
}

/***** SKILLS CHECKBOX ****/
.checkbox-section {
    display: flex;
    flex-direction: row;
}

.col-6 {
    width: 50%;
}

.col-6 p {
    display: flex;
    flex-direction: row;
}

.col-6 input {
    width: 15px;
}


/**** LAST PART ****/
#link {
    width: 100%;
}

#information {
    background-color: #444e58;
    color: silver;
    border: 1px solid silver;
    margin: 15px 0;
    width: 100%;
    font-size: 0.8em;
}

.submit {
    background-color: #00aff9;
    padding: 10px;
    color: white;
    border: 1px solid silver;
}
